name: Pre Merge Checks for backend

Concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request: 
    paths:
      - 'backend/**'
  push: 
    branches: 
      - main
    paths: 
      - 'backend/**'

jobs:
  build-backend:
    name: Backend main service
    runs-on: self-hosted
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with: 
          java-version: '11'
          distribution: 'adopt'
      
      - name: Build with Maven
        run: mvn -f backend/pom.xml clean install
